[{:db/id #db/id [:db.part/user]
  :db/ident :dmzr/datomize
  :db/doc "Store data, datomizing maps, vectors, and variants."
  :db/fn #db/fn {:lang "clojure"
                 :params [db entity]
                 :requires [[goodguide.datomizer.datomize.encode]]
                 :code "(goodguide.datomizer.datomize.encode/datomize db entity)"}}
 {:db/id #db/id [:db.part/user]
  :db/ident :dmzr/autoincrement
  :db/doc "Set external id next free id (or value, if supplied)"
  :db/fn #db/fn {:lang "clojure"
                 :params [db datomic-id numeric-id-attribute value]
                 :requires [[goodguide.datomizer.id]]
                 :code "(goodguide.datomizer.id/autoincrement db datomic-id numeric-id-attribute value)"}}]
